.hero-banner {
  position: relative;
  width: 100%;
  height: 90vh;
}



.hero-banner picture,
.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(85%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 700px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
}

.hero-content p {
  margin-top: 12px;
  font-size: 1.2rem;
}

.hero-content button {
  margin-top: 20px;
  padding: 14px 32px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: var(--cor--detalhes);
  color: white;
  transition: 0.3s;
}

.hero-content button:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .hero-content {
    top: 30%;

    .hero-button {
      display: none;
    }
  }
}

@media (max-width: 1600px) {
  .hero-content {
    top: 30%;

    .hero-button {
      display: none;
    }
  }
}