.hero-banner {
  position: relative;
  width: 100%;
  height: 90vh;
}



.hero-banner picture,
.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(75%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 800px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
}

.hero-content p {
  margin-top: 12px;
  font-size: 1.2rem;
}

.hero-content button {
  margin-top: 20px;
  padding: 14px 32px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: var(--cor--detalhes);
  color: white;
  transition: 0.3s;
}

.hero-content button:hover {
  transform: scale(1.05);
}

.azamara-includes {
  background-attachment: fixed;
}

.azamara-includes img {
  width: 250px;
  margin-top: 20px;
  height: auto;
}

@media (max-width: 1024px) {
  .hero-content {
    top: 21% !important;

    .hero-button {
      display: none;
    }
  }

  .home .promo-title {
    font-size: 2.5rem !important;

  }

  .home .promo-sub, .home .promo-timer {
  color: #fff !important;
  font-size: 1rem !important;
}
}

@media (max-width: 1600px) {
  .hero-content {
    top: 30%;

    .hero-button {
      display: none;
    }
  }
}




.home .promo-sub,
.home .promo-timer {
  color: #fff;
  font-size: 1.5rem;
}

.home .promo-title {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(90deg, #fff, #009CE1, #fff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 4s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}