.form-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
        padding: 10px 10px;
        text-align: center;
        border-radius: 10px;
    }

    input {
        width: 250px;
    }

}


.message-submit {
    position: relative;


}

.loading {
    color: white;
}

.error {
    color: lightcoral
}

.success {
    color: lightgreen
}