/* Container Principal */
.cruise-container {
  min-height: 100vh;
  background-color: #f9fafb;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.see-more-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.see-more-button {
  background: transparent;
  color: var(--cor--azul1);
  border:1px solid var(--cor--azul1) !important;
  font-weight: 600;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.see-more-button:hover {
  transform: translateY(-2px);
}

.see-more-button:active {
  transform: scale(0.97);
}

.motor-result .motor-wrapper{
  margin-top: 1px !important;
}

/* ===== Navbar ===== */

.search-main {
  .navbar-container-main {
    .navbar-links {
      display: none;
    }

    .menu-toggle {
      display: none;
    }
  }
}